h1 {
  /* color: blue; */
  /* color: rgb(0 0 0 / 50%); */
  /* color: hsl(348, 83%, 44%); */
  /* color:oklab(348 83% 44% / 50%); */
  color: #09f;
  border-width: 3px ;
}

body {
  background: pink;
}